/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
.navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(158,232,160,1) 0%, rgba(0,212,255,1) 100%);
}

.navbar .logo a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #ff7b00;
}
.navbar .logo a span{
    color: #0a33a3;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {

    text-decoration: none;
    color: #676767;
    font-size: 18px;
    font-weight: 500;
}

/* Search and Profile */
.search-profile {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 15px;
    margin-right: 15px;
    background-color: #f0f0f0;
}

.search-container .search-icon {
    display: flex;
    align-items: center;
    margin-right: 8px;
    color: #888;
}
.search-icon img{
    width: 20px;
    height: 20px;
}

.search-container input[type="text"] {
    border: none;
    outline: none;
    background: transparent;
    color: #888;
    font-size: 14px;
    width: 100px;
}

/* Cart Container */
.cart-container {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 15px;
    margin-right: 15px;
    background-color: #f0f0f0;
    color: #0000FF;
}

.cart-container img{
    width: 20px;
    height: 20px;
}

.cart-count {
    font-size: 14px;
    color: #888;
    margin-left: 5px;
}

.profile-icon img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
}

/* Hero Section */
.hero {
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content:center;
    max-width: 35%;
    height: 50vh;
    margin: 45px 0;
    padding: 45px 0;
}

.hero-text h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 30px;
    padding-right:110px;
    color: #333;
}
.hero-text h1 span{
    color: #ff7b00;
}

.hero-text p {
    padding-right: 100px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #666;
}

.shop-now {
    width: 40%;
    text-align: center;
    display: inline-block;
    padding: 20px 50px;
    background-color: #333;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
}
.hero-image{
    max-width: 50%;
}

.hero-image img {
    width: 600px;
    height: auto;
}

/* Icon Section */
.icon-section {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    padding: 20px 50px;
    background-color: #FF7B00;
    color: #fff;
}
.icon-card-content{
    display: flex;
    justify-content: center;
    align-items: center;
}.icon-card-img{
    display: flex;
    align-items: center;
    padding: 20px;
}
.icon-card-img img{
    width: 65px;
    height: 65px;
}

.icon-card-detail h1{
    font-size: 40px;
}

.icon-card-detail  p {
    font-size: 20px;
}
